* text=auto
*.rs text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.wxs text eol=lf
*.cmd text eol=crlf
*.ico binary
*.png binary
*.cs text eol=lf
*.csproj text eol=lf
*.xaml text eol=lf
*.manifest text eol=lf
# Keep redistributed vendor license files byte-for-byte, including whitespace.
licenses/** -text -whitespace
